In [52]:
import numpy as np
import pandas as pd

In [53]:
dataset = pd.read_csv("titanic.csv")
df = pd.DataFrame(dataset)

In [54]:
# Shifting the dependent variable to the last column 
shifted_column = df.pop('Survived')
df['Survived'] = shifted_column

In [55]:
# Drop unwanted columns
df.pop('PassengerId')
df.pop('Name')
df.pop('Ticket')
df.pop('Cabin')
df.pop('Embarked')

0      S
1      C
2      S
3      S
4      S
      ..
886    S
887    S
888    S
889    C
890    Q
Name: Embarked, Length: 891, dtype: object

In [56]:
df

     Pclass     Sex   Age  SibSp  Parch     Fare  Survived
0         3    male  22.0      1      0   7.2500         0
1         1  female  38.0      1      0  71.2833         1
2         3  female  26.0      0      0   7.9250         1
3         1  female  35.0      1      0  53.1000         1
4         3    male  35.0      0      0   8.0500         0
..      ...     ...   ...    ...    ...      ...       ...
886       2    male  27.0      0      0  13.0000         0
887       1  female  19.0      0      0  30.0000         1
888       3  female   NaN      1      2  23.4500         0
889       1    male  26.0      0      0  30.0000         1
890       3    male  32.0      0      0   7.7500         0

[891 rows x 7 columns]

In [57]:
df['Age'] = df['Age'].fillna(value=np.mean(df['Age']))

In [64]:
#Encoding dependent variable

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

df['Sex'] = le.fit_transform(df['Sex'])

In [65]:
df

     Pclass  Sex        Age  SibSp  Parch     Fare  Survived
0         3    1  22.000000      1      0   7.2500         0
1         1    0  38.000000      1      0  71.2833         1
2         3    0  26.000000      0      0   7.9250         1
3         1    0  35.000000      1      0  53.1000         1
4         3    1  35.000000      0      0   8.0500         0
..      ...  ...        ...    ...    ...      ...       ...
886       2    1  27.000000      0      0  13.0000         0
887       1    0  19.000000      0      0  30.0000         1
888       3    0  29.699118      1      2  23.4500         0
889       1    1  26.000000      0      0  30.0000         1
890       3    1  32.000000      0      0   7.7500         0

[891 rows x 7 columns]

In [69]:
# Here X contains the data frame for the first 3 columns of the dataset
X = df.iloc[:,:-1].values

# Here Y contains the data frame for the last column of the dataset
Y = df.iloc[:,-1].values

from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=1)

In [74]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X_train[:, 2:3] = scaler.fit_transform(X_train[:, 2:3])  # Scale column 2
X_train[:, 5:6] = scaler.fit_transform(X_train[:, 5:6])  # Scale column 5

X_test[:, 2:3] = scaler.transform(X_test[:, 2:3])  # Scale column 2
X_test[:, 5:6] = scaler.transform(X_test[:, 5:6])

In [86]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state=0)
classifier.fit(X_train,Y_train)

LogisticRegression(random_state=0)

In [87]:
y_pred = classifier.predict(X_test)
print(np.concatenate((y_pred.reshape(len(y_pred),1),Y_test.reshape(len(Y_test),1)),1))

[[1 1]
 [0 0]
 [1 1]
 [1 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 1]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 0]
 [0 1]
 [1 1]
 [1 1]
 [0 0]
 [1 1]
 [1 0]
 [1 1]
 [0 0]
 [1 0]
 [0 0]
 [0 1]
 [1 1]
 [0 0]
 [0 1]
 [0 0]
 [1 1]
 [1 1]
 [1 1]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 1]
 [1 1]
 [0 1]
 [0 1]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [0 1]
 [1 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [0 0]
 [0 1]
 [0 0]
 [0 1]
 [1 1]
 [1 1]
 [0 1]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [1 0]
 [0 0]
 [1 1]
 [1 0]
 [0 1]
 [1 0]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [1 1]
 [1 1]
 [0 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [1 0]
 [0 0]
 [0 0]
 [0 1]]

In [88]:
# This will help to know the accuracy of the classfication modal

from sklearn.metrics import confusion_matrix, accuracy_score

# Assuming you have predicted labels 'y_pred' and actual labels 'y_true'
cm = confusion_matrix(Y_test, y_pred)
accuracy = accuracy_score(Y_test, y_pred)

print("Confusion Matrix:")
print(cm)
print("Accuracy:", accuracy)

Confusion Matrix:
[[91 15]
 [21 52]]
Accuracy: 0.7988826815642458